doctype html

head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document

link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css' integrity='sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ' crossorigin='anonymous')
style.
  table, th, td {
  border: 1px solid;
  }
h1#typography Productos:

block content
